@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;


    background-color: #020202;
    color: #ffff;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40 ease-in-out;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #eb4a4a;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease-in-out;
}

.navbar a:hover {
    background: transparent;
    color: #ffff;
}

#menu-icon {
    font-size: 36px;
    color: #ffff;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

main {
    padding: 160px 16% 90px;
    height: 100vh;
}

.home {
    width: 100%;
    position: relative;
    background-image: url("./img/bg_pic.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1 {
    margin: 20px 0; 
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.1px;
    letter-spacing: 2px;
}

.home-text h4 {
    color: #eb4a4a;
    font-size: 24px;
    font-weight: 600;
}

.home-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: #eb4a4a;
    color: #ffff;
    border: 1px solid #eb4a4a;
    transition: all .40s ease-in-out;
}

.btn:hover {
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    cursor: pointer;
    border: 1px solid #eb4a4a;
}

header.sticky {
    padding: 10px 16%;
    background: #020202;
    border-bottom: 1px solid #eb4a4a;
    transition: .3s;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.above-text h2 {
    font-size: 38px;
    padding: 10px 0;
}

.above-text h4 {
    font-size: 28px;
    padding: 20px 0;
}

.above-text p {
    margin-bottom: 50px;
}

.skill-test {
    display: block;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #ffff;
    animation: html 1s linear forwards;
}

.css {
    background: #eb4a4a;
    animation: css 1s linear forwards;
}

.js {
    background: #ffff;
    animation: js 1s linear forwards;
}

.py {
    background: #eb4a4a;
    animation: py 1s linear forwards;
}

.react {
    background: #ffff;
    animation: react 1s linear forwards;
}

.django {
    background: #eb4a4a;
    animation: django 1s linear forwards;
}

.html span {
    border: 1px solid #ffff;
}

.css span {
    border: 1px solid #eb4a4a;
}

.js span {
    border: 1px solid #ffff;
}

.py span {
    border: 1px solid #eb4a4a;
}

.react span {
    border: 1px solid #ffff;
}

.django span {
    border: 1px solid #eb4a4a;
}


@keyframes html {
    100% {
        width: 90%
    }
}

@keyframes css {
    100% {
        width: 85%
    }
}

@keyframes js {
    100% {
        width: 60%
    }
}

@keyframes py {
    100% {
        width: 20%
    }
}

@keyframes react {
    100% {
        width: 10%;
    }
}

@keyframes django {
    100% {
        width: 15%
    }
}

/* .portfolio {
    width: 100%;
    height: 100vh;
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
} */

.portfolio-text {
    text-align: center;
}

.portfolio-text h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 5rem 50px;
}

.row {
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .40s ease-in-out;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3 {
    font-size: 25px;
    font-weight: 700;
}

.row h6 {
    color: #eb4a4a;
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 1px;
}

.row-icon i {
    font-size: 21px;
}

.row:hover {
    cursor: pointer;
    transform: scale(1.01) translateY(-5px);
    transition: all .40s ease-in-out;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin: 0 50px;
}

.contact-text h4 {
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 3.5rem;
}

.contact-text p {
    color: grey;
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li a {
    display: block;
    color: grey;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #eb4a4a;
}

.contact-icons i {
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: #eb4a4a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}

.contact-icons i:hover {
    transform: scale(1.01) translateY(-5px);
    color: #fff;
    background: #eb4a4a;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: #12141c;
    color: #ffff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.send {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background: #eb4a4a;
    color: #ffff;
    width: 190px;
    transition: all .40s ease;
    cursor: pointer;
}

.last-text p {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    color: grey;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #ffff;
    background: #eb4a4a;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media (max-width: 1325px) {
    header {
        padding: 16px 3%;
    }

    header.sticky {
        padding: 8px 3%;
    }

    section {
        padding: 130px 3% 60px;
    }
}

@media (max-width: 970px) {
    :root {
        --h1-font: 4.2rem;
        --h2-font: 2.9rem;
        --p-font: 1rem;
    }

    section {
        padding: 70px 3% 60px;
    }

    .home {
        height: 85vh;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
    }

    .contact {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 830px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all .40s ease;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 1rem;
    }

    .navbar.active {
        top: 100%;
    }

    /* :root {
        --h1-font: 3.7rem;
        --h2-font: 2.7rem;
    } */
}